.carousel__card__container {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

.carousel__card__heading {
  color: white;
}

.carousel__card__image {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
