.product__card__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.product__card__image {
  height: 18rem;
  width: 14rem;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(177, 220, 93);
    box-shadow: 6px 0px 21px -2px rgba(0, 0, 0, 0.62);
  }
}
