.carousel__container {
  // margin-top: 4rem;
  height: auto;
  width: 800px;
  background-color: black;
  // margin-right: 1rem;

  @media screen and (max-width: 910px) {
    width: 550px;
  }

  @media screen and (max-width: 661px) {
    width: 450px;
  }

  @media screen and (max-width: 561px) {
    width: 300px;
  }

  @media screen and (max-width: 420px) {
    width: 200px;
    height: 100px;
  }
}
